body{
    margin: 0px;
    padding: 0px;
    background-color: none;
}

#sp1{
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    top: 200px;
    left: 200px;
    width: 500px;
    font-size: 40px;
    color: black;

}
@keyframes example {
    0%   {background-color:none; left:-200px; top:200px;}
    25%  {background-color:none; left:200px; top:200px;}
    50%  {background-color:none; left:200px; top:200px;}
    75%  {background-color:none; left:200px; top:200px;}
    100% {background-color:none; left:200px; top:200px;}
}
#sp2{
    position: absolute;
    top: 270px;
    font-size: 30px;
    left: 300px;
    animation-name: example1 ;
    animation-duration: 4s;
    color: black;
    width: 500px;

}
@keyframes example1 {
    0%   {background-color:none; left:-300px; top:270px;}
    25%  {background-color:none; left:300px; top:270px;}
    50%  {background-color:none; left:300px; top:270px;}
    75%  {background-color:none; left:300px; top:270px;}
    100% {background-color:none; left:300px; top:270px;}
}
#sp3{
    position: absolute;
    top: 320px;
    font-size: 30px;
    left: 210px;
    animation-name: example2 ;
    animation-duration: 4s;
    color: black;
    width: 500px;

}
@keyframes example2 {
    0%   {background-color:none; left:-300px; top:320px;}
    25%  {background-color:none; left:210px; top:320px;}
    50%  {background-color:none; left:210px; top:320px;}
    75%  {background-color:none; left:210px; top:320px;}
    100% {background-color:none; left:210px; top:320px;}
}
#profile{
    position: absolute;
    height: 370px;
    width: 570px;
    left: 650px;
    top: 150px;
    border-radius: 0.5rem;
    border: 2px solid white;  
    animation-name: example3;
    animation-duration: 4s;
    animation-delay: 2s;

}
#background{
    position: absolute;
    height: 593px;
    width: 100%;
    top: 70px;

}
#bt1{
    position: absolute;
    top: 400px;
    left: 220px;
    padding: 15px;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
#bt1:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
 #bt1 a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: auto;
  }
  
 #bt1 a:link:active, a:visited:active {
    color: white;
  }
#bt2{
    border: 2px solid blue;
    position: absolute;
    top: 400px;
    left: 390px;
    padding: 15px;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 15px;
    background-color: blue;
    color: white;
}
#bt2:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
#bt2 a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: auto;
  }
  
#bt2 a:link:active, a:visited:active {
    color: white;
  }
#about{
    border: 1px solid lightgrey;
    position: absolute;
    top: 650px;
    height: 500px;
    width: 95%;
    left: 40px;
    box-shadow: 0px 0px 10px grey;
}


#about #p1{
    position: absolute;
    left: 100px;
    top: 200px;
}
#about #p2{
    position: absolute;
    margin-left: 900px;
    margin-top: 30px;
}
#about #html{
    border: 1px solid lightgrey;
    height: 20px;
    width: 45px;
    position: absolute;
    left: 800px;
    top: 100px;
    color: black;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
}
#about #pgr1{
    border: 1px solid lightgrey;
    height: 20px;
    width: 400px;
    position: absolute;
    left: 850px;
    top: 100px;
}
#about #css{
    border: 1px solid lightgrey;
    height: 20px;
    width: 45px;
    position: absolute;
    left: 800px;
    top: 150px;
    color: black;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
}
#about #pgr2{
    border: 1px solid lightgrey;
    height: 20px;
    width: 400px;
    position: absolute;
    left: 850px;
    top: 150px;
}
#about #java{
    border: 1px solid lightgrey;
    height: 20px;
    width: 45px;
    position: absolute;
    left: 800px;
    top: 200px;
    color: black;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}
#about #pgr3{
    border: 1px solid lightgrey;
    height: 20px;
    width: 400px;
    position: absolute;
    left: 850px;
    top: 200px;
}
#about #bootstrap{
    border: 1px solid lightgrey;
    height: 20px;
    width: 45px;
    position: absolute;
    left: 800px;
    top: 250px;
    color: black;
    background-color: yellow;
    color: white;
    border-radius: 0.5rem;
}
#about #pgr4{
    border: 1px solid lightgrey;
    height: 20px;
    width: 400px;
    position: absolute;
    left: 850px;
    top: 250px;
}
#about #spg1{
    border: 2px solid blue;
    padding: 10px;
    position: absolute;
    border-radius: 1rem;
    text-align: center;
    background-color: blue;
    color: white;
    margin-top: 400px;
    margin-left: 200px;
}
#about #spg2{
    border: 2px solid blue;
    padding: 10px;
    position: absolute;
    border-radius: 1rem;
    text-align: center;
    background-color: blue;
    color: white;
    margin-top: 400px;
    margin-left: 330px;
    
}
#projects {
    border: 1px solid lightgrey;
    position: absolute;
    top: 700px;
    height: 1000px;
    width: 95%;
    left: 40px;
    box-shadow: 0px 0px 10px grey;
}
#about #p1{
    border: 1px solid lightgray;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 25px gray;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    padding: 15px;
}
#projects #dv1{
    border: 1px solid lightgrey;
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top:100px ;
    margin-left: 100px;
    box-shadow: 0px 0px 10px;
    text-align: center;
}
#projects #dv2{
    border: 1px solid lightgrey;
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top:100px ;
    margin-left: 470px;
    box-shadow: 0px 0px 10px;
    text-align: center;
}
#projects #dv3{
    border: 1px solid lightgrey;
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top:100px ;
    margin-left: 840px;
    box-shadow: 0px 0px 10px;
    text-align: center;
}
#projects #dv4{
    border: 1px solid lightgrey;
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top:500px ;
    margin-left: 100px;
    box-shadow: 0px 0px 10px;
    text-align: center;
}

#projects #dv6{
    border: 1px solid lightgrey;
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top:500px ;
    margin-left: 840px;
    box-shadow: 0px 0px 10px;
    text-align: center;
   
}
#projects #dv1 :hover{
    opacity: 0.7;
}
#projects #dv2 :hover{
    opacity: 0.7;
}
#projects #dv3 :hover{
    opacity: 0.7;
}
#projects #dv4 :hover{
    opacity: 0.7;
}
#projects #dv6 :hover{
    opacity: 0.7;
}
#projects #title1{
    position: absolute;
    color: darkblue;
    font-size: 35px;
    width: 200px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    left: 500px;

}
#about #imagee1{
    position: absolute;
    left: 70px;
    top: 10px;
}
#contacts{
    border: 1px solid lightgrey;
    position: absolute;
    top: 2400px;
    height: 500px;
    width: 95%;
    left: 40px;
    box-shadow: 0px 0px 10px grey;
}
#contacts #info{
    position: absolute;
    left: 100px;
    top: 80px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px grey;
    height: 300px;
    width: 400px;
    padding-left: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 2rem;
}
#contacts #info #email{
    position: absolute;
    width: 400px;
    font-size: 20px;
    top: 110px;
    color: darkblue;
}
#contacts #info #mobile{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 140px;
    color: darkblue;
}
#contacts #info #address{
    position: absolute;
    width: 400px;
    font-size: 20px;
    top: 180px;
    color: darkblue;
}
#contacts #form{
    position: absolute;
    left: 800px;
    top: 70px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px grey;
    border-radius: 0.5rem;
    background-color: rgb(247, 247, 247);
    padding: 30px;
}
#contacts #btn3{
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
    color: white;
    border-radius: 1rem;
    padding: 10px;
    top: 350px;
    right: 80px;
    
}
#contacts #btn3:hover {
    background-color: #4CAF50;
    color: white;
  }
  #contacts #horz1{
position: absolute;
left: 860px;
  }